memory = {{ansible_memory_mb}}
memoryfree = {{ansible_memfree_mb}}
memorytotal = {{ansible_memtotal_mb}}
processor = {{ansible_processor}}
biosdate =  {{ansible_bios_date}}
biosversion = {{ansible_bios_version}}
